#wrapper {
  display: flex;
  align-items: center;
  max-width: 1200px;
  width: 100%;
  margin: 50px auto 20px auto;
}

#title {
  flex: 1;
  white-space: nowrap;
  font-size: 4.7vw;
  letter-spacing: 3px;
  margin: 0 2vw;
  text-align: center;
}

.horizontal-line {
  border-top: 1px solid black;
  width: 100%;
}

@media only screen and (min-width: 900px) {
  #title {
    font-size: 30px;
    white-space: nowrap;
    margin: 0 20px;
  }
}
