#wrapper {
  display: flex;
  align-items: center;
  max-width: 1200px;
  width: 100%;
  margin: 50px auto 20px auto;
}

#title {
  font-family: 'Cardo', serif;
  font-size: 30px;
  letter-spacing: 3px;
  white-space: nowrap;
  margin: 0 20px;
}

.horizontal-line {
  border-top: 1px solid black;
  width: 100%;
}
