#mobile {
  width: 100%;
  position: relative;
}

#mobile-header {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  list-style-type: none;
  margin: 0;
  padding: 18px;
}

#mobile-header-left {
  display: flex;
  align-items: center;
}

#small-logo {
  width: 50px;
  height: auto;
  margin-right: 10px;
  outline: none;
}

.toggler {
  width: 40px;
  height: 50px;
  line-height: 50px;
  font-size: 30px;
  text-align: center;
}

#dropdown-content {
  width: calc(100% - 40px);
  position: absolute;
  z-index: 10;
  margin: 0 20px;
  padding: 0;
  background: rgba(0, 0, 0, .85);
}

.hidden {
  display: none;
}

#dropdown-content li a {
  font-size: 16px;
  color: white;
  padding: 10px 17px;
  width: 100%;
  height: 100%;
}

#dropdown-content li a.active {
  background-color: rgba(255, 255, 255, .2);
}

/*~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~*/

#desktop {
  display: none;
  justify-content: center;
  background-color: rgba(255, 255, 255, 0.85);
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 10;
}

#desktop-header {
  flex: 1;
  color: black;
  max-width: 900px;
  width: 100%;
  display: flex;
  flex-direction: row;
  /* justify-content: space-between; */
  list-style-type: none;
  margin: 15px 0 11px 0;
  padding: 0 10px;
}

#desktop-header li a {
  font-size: 13px;
  color: black;
  -webkit-transition: color 300ms linear;
  -ms-transition: color 300ms linear;
  -moz-transition: color 300ms linear;
  -o-transition: color 300ms linear;
  transition: color 300ms linear;
}

#desktop-header li a.active {
  color: #BAB8B8;
}

#desktop-header li a:hover {
  color: #BAB8B8;
}

#desktop-left-side {
  flex: 1;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

#desktop-right-side {
  flex: 1;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

#logo {
  height: 50px;
  width: auto;
  justify-self: center;
  outline: none;
  cursor: pointer;
}

li {
  display: flex;
  align-items: center;
}

li a {
  font-family: raleway, sans-serif;
  font-weight: 300;
  text-decoration: none;
  text-transform: uppercase;
  cursor: pointer;
}

.fa-search {
  font-size: 20px;
  margin: 0 0 0 15px;
}

@media only screen and (min-width: 900px) {
  #mobile {
    display: none;
  }
  #desktop {
    display: flex;
  }
  .fa-search {
    font-size: 18px;
    margin: 0;
  }
}
