<div id="mobile">
  <ul id="mobile-header">
    <li><app-social></app-social></li>
    <i class="fa fa-bars toggler" [ngClass]="{'hidden': !hideDropdown}" (click)="onToggle()"></i>
    <i class="fa fa-times toggler" [ngClass]="{'hidden': hideDropdown}" (click)="onToggle()"></i>
  </ul>
  <ul id="dropdown-content" [ngClass]="{'hidden': hideDropdown}">
    <li><a routerLink="" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }" (click)="onToggle()">Home</a></li>
    <li><a routerLink="/blogs/style-beauty" routerLinkActive="active" (click)="onToggle()">Style & Beauty</a></li>
    <li><a routerLink="/blogs/wellness" routerLinkActive="active" (click)="onToggle()">Wellness</a></li>
    <li><a routerLink="/blogs/travel" routerLinkActive="active" (click)="onToggle()">Travel</a></li>
    <li><a routerLink="/about" routerLinkActive="active" (click)="onToggle()">About</a></li>
    <li><a routerLink="/subscribe" routerLinkActive="active" (click)="onToggle()">Subscribe</a></li>
  </ul>
</div>

<!--~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~-->

<div id="desktop">
  <ul id="desktop-header">
    <li><a routerLink="" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }">Home</a></li>
    <li><a routerLink="/blogs/style-beauty" routerLinkActive="active">Style & Beauty</a></li>
    <li><a routerLink="/blogs/wellness" routerLinkActive="active">Wellness</a></li>
    <li><a routerLink="/blogs/travel" routerLinkActive="active">Travel</a></li>
    <li><a routerLink="/about" routerLinkActive="active">About</a></li>
    <li><a routerLink="/subscribe" routerLinkActive="active">Subscribe</a></li>
    <li><app-social></app-social></li>
  </ul>
</div>
