<div id="mobile">
  <ul id="mobile-header">
    <div id="mobile-header-left">
      <app-social></app-social>
      <i class="fa fa-search"></i>
    </div>
    <i class="fa fa-bars toggler" [ngClass]="{'hidden': !hideDropdown}" (click)="onToggle()"></i>
    <i class="fa fa-times toggler" [ngClass]="{'hidden': hideDropdown}" (click)="onToggle()"></i>
  </ul>
  <ul id="dropdown-content" [ngClass]="{'hidden': hideDropdown}">
    <li><a routerLink="" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }" (click)="close()">Home</a></li>
    <li><a routerLink="style-beauty" routerLinkActive="active" (click)="close()">Style & Beauty</a></li>
    <li><a routerLink="wellness" routerLinkActive="active" (click)="close()">Wellness</a></li>
    <li><a routerLink="art" routerLinkActive="active" (click)="close()">Art</a></li>
    <li><a routerLink="about" routerLinkActive="active" (click)="close()">About</a></li>
    <li><a (click)="openDialog()" (click)="close()">Subscribe</a></li>
  </ul>
</div>

<!--~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~-->

<div id="desktop">
  <ul id="desktop-header">
    <li><a routerLink="" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }">Home</a></li>
    <li><a routerLink="style-beauty" routerLinkActive="active">Style & Beauty</a></li>
    <li><a routerLink="wellness" routerLinkActive="active">Wellness</a></li>
    <li><a routerLink="art" routerLinkActive="active">Art</a></li>
    <li><a routerLink="about" routerLinkActive="active">About</a></li>
    <li><a (click)="openDialog()">Subscribe</a></li>
    <li><app-social [color]="'white'"></app-social></li>
    <li><i class="fa fa-search"></i></li>
  </ul>
</div>
