#wrapper {
  background-color: white;
  padding: 20px;
}

#title {
  font-size: 32px;
  text-align: center;
  margin: 33px 0 21px 0;
}

label {
  margin: 0 0 15px 0;
  font-family: raleway, sans-serif;
  font-style: italic;
  color: #605E5E;
  text-align: center;
}
