.middle {
  margin: 0 9px 0 9px;
}

.fa {
  color: black;
  width: 30px;
  font-size: 22px;
  text-align: center;
  vertical-align: middle;
  -webkit-transition: color 300ms linear;
  -ms-transition: color 300ms linear;
  -moz-transition: color 300ms linear;
  -o-transition: color 300ms linear;
  transition: color 300ms linear;
}

.white {
  color: white;
}

a:hover .fa {
  color: var(--lightgrey);
}


@media only screen and (min-width: 768px) {
  .fa {
    width: 22px;
    font-size: 18px;
  }
}
