#wrapper {
  padding: 10px 0;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

#title {
  font-size: 30px;
  font-family: 'Cardo', serif;
  color: #2F2E2E;
  letter-spacing: 0.05em;
}

#subtitle {
  color: #2F2E2E;
  font-size: 15px;
  letter-spacing: 0.05em;
  margin-top: -30px;
}

@media only screen and (min-width: 768px) {
  #wrapper {
    padding: 69px 0 20px 0;
  }
  #title {
    font-size: 60px;
  }
  #subtitle {
    font-size: 37px;
  }
}
