#wrapper {
  padding: 10px 0;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

#title {
  text-transform: uppercase;
  font-size: 35px;
  font-family: 'Raleway', sans-serif;
  font-weight: 100;
  color: #2F2E2E;
  letter-spacing: 0.05em;
}

#subtitle {
  color: #2F2E2E;
  font-size: 32px;
  letter-spacing: 0.05em;
  margin-top: -20px;
}

@media only screen and (min-width: 768px) {
  #wrapper {
    padding: 64px 0 15px 0;
  }
  #title {
    font-size:50px;
  }
  #subtitle {
    font-size: 37px;
    margin-top: -25px;
  }
}
