#wrapper {
  padding: 10px 0;
  display: flex;
  justify-content: center;
}

span {
  font-size: 30px;
  font-family: 'Cardo', serif;
  color: #2F2E2E;
  letter-spacing: 0.05em;
}

@media only screen and (min-width: 768px) {
  #wrapper {
    padding: 69px 0 34px 0;
  }
  span {
    font-size: 60px;
  }
}
