.slideshow-container {
  max-width: 918px;
  position: relative;
  margin: auto;
  cursor: pointer;
}

#label {
  width: 236px;
  height: 38px;
  position: absolute;
  top: 12px;
  right: 12px;
  background-color: black;
  color: #DBDBDB;
  font-size: 18px;
  z-index: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: auto;
}

.dots {
  margin: 0 auto 25px auto;
  text-align: center;
}

.hidden {
  display: none;
}

.image {
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  padding-top: 60%;
}

/* Next & previous buttons */
.prev, .next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  transform: translate(0, -50%);
  width: auto;
  padding: 16px;
  color: black;
  font-weight: bold;
  font-size: 34px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
}

.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

.prev:hover, .next:hover {
  background-color: rgba(255, 255, 255, 0.5);
}

.text {
  background-color: black;
  color: white;
  font-size: 15px;
  padding: 8px 12px;
  width: 100%;
  text-align: center;
}

.dot {
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.active {
  background-color: black;
  cursor: auto;
}

.fading {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1.5s;
  animation-name: fade;
  animation-duration: 1.5s;
}

@-webkit-keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
}

@keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
}

@media only screen and (min-width: 768px) {
  .text {
    background-color: rgba(255, 255, 255, 0.5);
    color: black;
    font-size: 15px;
    bottom: 0;
    position: absolute;
    -webkit-transition: background-color 300ms linear, color 300ms linear;
    -ms-transition: background-color 300ms linear, color 300ms linear;
    -moz-transition: background-color 300ms linear, color 300ms linear;
    -o-transition: background-color 300ms linear, color 300ms linear;
    transition: background-color 300ms linear, color 300ms linear;
  }
  .text-focus {
    background-color: black;
    color: white;
    -webkit-transition: background-color 300ms linear, color 300ms linear;
    -ms-transition: background-color 300ms linear, color 300ms linear;
    -moz-transition: background-color 300ms linear, color 300ms linear;
    -o-transition: background-color 300ms linear, color 300ms linear;
    transition: background-color 300ms linear, color 300ms linear;
  }
  .dots {
    margin: 0 auto 51px auto;
  }
}
