#wrapper {
  padding: 0 20px;
}

.slideshow-container {
  max-width: 918px;
  position: relative;
  margin: auto;
  cursor: pointer;
}

#label {
  width: 236px;
  height: 38px;
  position: absolute;
  top: 12px;
  right: 12px;
  background-color: black;
  color: #DBDBDB;
  font-size: 18px;
  z-index: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: auto;
}

.dots {
  margin: 0 auto 51px auto;
  text-align: center;
}

.hidden {
  display: none;
}

/* Next & previous buttons */
.prev, .next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  transform: translate(0, -50%);
  width: auto;
  padding: 16px;
  color: black;
  font-weight: bold;
  font-size: 34px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
}

/* Position the "next button" to the right */
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover, .next:hover {
  background-color: rgba(255, 255, 255, 0.8);
}

.text {
  color: black;
  font-size: 15px;
  padding: 8px 12px;
  position: absolute;
  bottom: 0;
  width: 100%;
  text-align: center;
}

.text-focus {
  background-color: black;
  color: white;
}

.numbertext {
  display: none;
  color: black;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
}

.numbertext-focus {
  display: block;
}

.dot {
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.active {
  background-color: black;
  cursor: auto;
}

.fading {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1.5s;
  animation-name: fade;
  animation-duration: 1.5s;
}

@-webkit-keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
}

@keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
}
