<app-title [title]="'ABOUT'"></app-title>
<div id="about-text">
  Hi, I'm Aine. Aine Carina. I'm an artist, traveler, girly-girl, a bit of a control freak, and creator of Carina Collective. I created this lifestyle blog as a platform to share my favorite approaches to style, beauty, traveling, and wellness. As a female in her 20's, I have been able to navigate many ways for humans (of all ages) to experience a well-balanced and well-lived lifestyle at a wallet-friendly price.
  <br>
  <br>
  This collective is designed to share my tactics on shopping methods, travel hacks, approaches to alternative health and wellness protocols, and other plentiful ways to live a fulfilling (and often well-pampered) lifestyle. I believe that everybody has the ability to receive more out of their life with a little sprinkle of help and research that isn't always so easy to find.
</div>
