#img-container {
  position: relative;
  display: flex;
  justify-content: center;
  margin-bottom: 22px;
}

#images {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0 auto;
}

#img1 {
  width: 39%;
  height: auto;
  margin-right: 5px;
}

#img2 {
  width: 46%;
  height: auto;
}

#image-bg {
  display: none;
  top: 50%;
  transform: translate(0, -50%);
  position: absolute;
  /* background-color: rgba(245, 244, 244, 1); */
  background-color: rgba(168,159,146, .2);
  max-width: 1282px;
  width: 100%;
  height: 517px;
  z-index: -1;
}

#about-text {
  color: #605E5E;
  font-size: 18px;
  text-align: center;
  max-width: 800px;
  margin: auto;
  padding: 0 34px;
  margin-bottom: 38px;
}

#subscribe-btn {
  display: block;
  max-width: 275px;
  width: 100%;
  height: 40px;
  border: none;
  margin: 0 auto 66px auto;
  outline: none;
  background-color: black;
  color: white;
  -webkit-transition: background-color 300ms linear, color 300ms linear;
  -ms-transition: background-color 300ms linear, color 300ms linear;
  -moz-transition: background-color 300ms linear, color 300ms linear;
  -o-transition: background-color 300ms linear, color 300ms linear;
  transition: background-color 300ms linear, color 300ms linear;
}

#subscribe-btn:hover {
  background-color: rgba(255, 255, 255, 0);
  color: black;
}

#contact-text {
  text-align: center;
  margin-bottom: 50px;
}

@media only screen and (min-width: 768px) {
  #img-container {
    margin-bottom: 53px;
  }
  #image-bg {
    display: block;
  }
  #img1 {
    width: 400px;
    margin-right: 10px;
  }
  #img2 {
    width: 467px;
  }
  #about-text {
    font-size: 20px;
  }
}
