<app-title [title]="'ABOUT'" [subtitle]="'Carina Collective'"></app-title>

<div id="img-container">
  <div id="images">
    <img id="img1" src="/assets/about2.jpg" />
    <img id="img2" src="/assets/about1.jpg" />
  </div>
  <div id="image-bg"></div>
</div>

<div id="about-text">
  Hi, I'm &Aacute;ine [Aun-yuh]. &Aacute;ine Carina. I'm an artist, traveler, girly-girl, a bit of a control freak, and creator of Carina Collective. I created this lifestyle blog as a platform to share my favorite approaches to style, beauty, art, and wellness. My whole life, I have struggled with the different sectors of my personality and how to cohesively bring them together.
  <br><br>
  Carina Collective came to me as an idea to showcase all of the things that I am most passionate about in one place. This collective is designed to celebrate the uniqueness of every individual and stepping into that.
  <br><br>
  For me, that means sharing tactics on approaches to alternative health and wellness, shopping, life hacks, and being an artist. I have learned that by embracing the differences in myself, community can be built. I hope that within this blog you can learn new things, discover, and find something for you.
</div>

<button id="subscribe-btn" (click)="openDialog()">Join the Collective</button>

<div id="contact-text">For business and collaboration enquiries please email <a href="mailto:carinacollective@gmail.com?Subject=Website%20enquiry" target="_blank">carinacollective@gmail.com</a></div>
