<div id="wrapper">
  <div class="row">
    <div class="category-col col-12 col-md-4">
      <app-category [category]="'Style & Beauty'" [route]="'style-beauty'" [img]="'/assets/style.jpg'"></app-category>
    </div>
    <div class="category-col col-12 col-md-4">
      <app-category [category]="'Wellness'" [route]="'wellness'" [img]="'/assets/wellness.jpg'"></app-category>
    </div>
    <div class="category-col col-12 col-md-4">
      <app-category [category]="'Art'" [route]="'art'" [img]="'/assets/style.jpg'"></app-category>
    </div>
  </div>
</div>
