<div id="wrapper">
  <div class="row">
    <div class="category-col col-12 col-md-6">
      <app-category [category]="'Style & Beauty'" [route]="'/blogs/style-beauty'"></app-category>
    </div>
    <div class="category-col col-12 col-md-6">
      <app-category [category]="'Wellness'" [route]="'/blogs/wellness'"></app-category>
    </div>
    <!-- <div class="category-col col-sm-12 col-md-6 col-lg-4">
      <app-category [category]="'Travel'" [route]="'/blogs/travel'"></app-category>
    </div> -->
  </div>
</div>
