#wrapper {
  margin-bottom: 10px;
}

#newsletter-container {
  margin: 0 auto;
  max-width: 958px;
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: rgba(245, 244, 244, 1);
  padding: 0 10px;
}

label {
  margin: 34px 0 15px 0;
  font-family: raleway, sans-serif;
  font-style: italic;
  color: #605E5E;
  text-align: center;
}

@media only screen and (min-width: 768px) {
  #wrapper {
    margin-bottom: 60px;
  }
}
