<div>
  <ul *ngIf="listType === 'unordered-list'">
    <li #blogView *ngFor="let item of item.content">
      <span *ngFor="let item of item.content">
        <app-contentful-list [listType]="item.nodeType" [item]="item"></app-contentful-list>

        <div *ngIf="item.nodeType === 'paragraph'">
          <span *ngFor="let item of item.content">
            <a *ngIf="item.nodeType === 'hyperlink'" href="{{ item.data.uri }}" target="_blank">
              <span *ngFor="let item of item.content" [ngClass]="getStyle(item)">{{ item.value }}</span>
            </a>
            <span *ngIf="item.nodeType === 'text'" [ngClass]="getStyle(item)">{{ item.value }}</span>
          </span>
        </div>

        <div *ngIf="item.nodeType === 'embedded-asset-block'" [style.width]="getImageWidth(item)"
          [style.height]="getImageHeight(item)" class="asset-block" [style.backgroundImage]="getImage(item)">
          <a *ngIf="getPinUrl(item)" class="asset-block-overlay pin"
            href="{{ getPinUrl(item) }}" target="_blank">
            <i class="fa fa-pinterest"></i><span>pin it</span>
          </a>
        </div>
      </span>
    </li>
  </ul>

  <ol *ngIf="listType === 'ordered-list'">
    <li #blogView *ngFor="let item of item.content">
      <span *ngFor="let item of item.content">
        <app-contentful-list [listType]="item.nodeType" [item]="item"></app-contentful-list>

        <div *ngIf="item.nodeType === 'paragraph'">
          <span *ngFor="let item of item.content">
            <a *ngIf="item.nodeType === 'hyperlink'" href="{{ item.data.uri }}" target="_blank">
              <span *ngFor="let item of item.content" [ngClass]="getStyle(item)">{{ item.value }}</span>
            </a>
            <span *ngIf="item.nodeType === 'text'" [ngClass]="getStyle(item)">{{ item.value }}</span>
          </span>
        </div>

        <div *ngIf="item.nodeType === 'embedded-asset-block'" [style.width]="getImageWidth(item)"
          [style.height]="getImageHeight(item)" class="asset-block" [style.backgroundImage]="getImage(item)">
          <a *ngIf="getPinUrl(item)" class="asset-block-overlay pin"
            href="{{ getPinUrl(item) }}" target="_blank">
            <i class="fa fa-pinterest"></i><span>pin it</span>
          </a>
        </div>
      </span>
    </li>
  </ol>
</div>
