#wrapper {
  max-width: 820px;
  width: 100%;
  margin: 0 auto;
  padding: 10px;
}

#title {
  text-align: center;
  margin: 0 auto 20px auto;
  font-size: 24px;
}

#date {
  text-transform: uppercase;
  color: grey;
  margin-bottom: 20px;
}

.asset-block {
  margin: 0 auto;
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
}

hr {
  margin: 1.5em 0;
  border-top: 1px solid rgba(139, 170, 149, .5);
}

.bold {
  font-weight: bold;
}

.italic {
  font-style: italic;
}

.underline {
  text-decoration: underline;
}

.embedded-entry {
  background-color: rgba(139, 170, 149, .1);
  border: 1px solid rgba(139, 170, 149, 1);
  border-bottom: 2px solid rgba(139, 170, 149, 1);
  border-radius: 3px;
  padding: 2px 5px;
  cursor: pointer;
}

.embedded-icon {
  padding: 0 0 0 3px;
  color: rgb(87, 117, 96);
}

.paragraph {
  margin-bottom: 15px;
}

.blockquote {
  border-left: 4px #8baa9580 solid;
  padding-left: 8px;
  font-size: 1rem;
}

a {
  color: rgb(87, 117, 96);
  text-decoration: underline;
}
