@import "~@angular/material/prebuilt-themes/indigo-pink.css";

* {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  font-family: 'Montserrat', sans-serif;
}

html, body {
  height: 100%;
}

body {
  margin: 0;
}

.cdk-overlay-backdrop {
  background: rgba(0, 0, 0, .85);
}

.mat-dialog-container {
  border-radius: 0 !important;
}
