:root {
  --beige: #a89f92;
  --lightbeige: rgba(168,159,146, .15);
  --grey: grey;
  --lightgrey: #BAB8B8;
}

* {
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  font-family: 'Montserrat', sans-serif;
}

html, body {
  height: 100%;
}

body {
  margin: 0;
}

.fading {
  -webkit-animation: fade-in 2s; /* Safari, Chrome and Opera > 12.1 */
     -moz-animation: fade-in 2s; /* Firefox < 16 */
      -ms-animation: fade-in 2s; /* Internet Explorer */
       -o-animation: fade-in 2s; /* Opera < 12.1 */
          animation: fade-in 2s;
}
.fading-fast {
  -webkit-animation: fade-in .5s; /* Safari, Chrome and Opera > 12.1 */
     -moz-animation: fade-in .5s; /* Firefox < 16 */
      -ms-animation: fade-in .5s; /* Internet Explorer */
       -o-animation: fade-in .5s; /* Opera < 12.1 */
          animation: fade-in .5s;
}
@keyframes fade-in {
  from {opacity: 0}
  to {opacity: 1}
}
@-moz-keyframes fade-in {
  from { opacity: 0; }
  to   { opacity: 1; }
}
@-webkit-keyframes fade-in {
  from {opacity: 0}
  to {opacity: 1}
}
@-ms-keyframes fade-in {
  from { opacity: 0; }
  to   { opacity: 1; }
}
@-o-keyframes fade-in {
  from { opacity: 0; }
  to   { opacity: 1; }
}
